* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: top;
}

body {
    padding: 0;
    margin: 0;
    color: var(--black);
    font-size: var(--fs-vsm);
    font-weight: var(--fw-regular);
    line-height: var(--lh-sm);
    font-family: var(--font-cnt);
    background-color: var(--white);
}

a,
button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    list-style: none;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    transition: all ease 0.5s;
    color: var(--black);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    line-height: var(--lh-m);
    font-family: var(--font-cnt);
}

a.btn {
    padding: 18px 48px;
    margin-right: 15px;
    background-color: var(--white);
    border-radius: 0;
    max-width: fit-content;
    transition: all ease .5s;
}

a.btn:hover {
    background-color: var(--tint2);
    color: var(--white);
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

ol,
ul,
li {
    list-style: none;
}

image,
iframe,
video {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

h1 {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-semibold);
}

h3 {
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
}

h4 {
    font-size: var(--fs-m);
    font-weight: var(--fw-medium);
}

h5 {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

p {
    color: var(--black-color);
    font-size: var(--fs-vsm);
    line-height: var(--lh-sm);
    font-family: var(--primary-font);
    font-weight: var(--fw-regular);
    font-family: var(--font-cnt);
}

span {
    font-size: var(--fs-vsm);
    line-height: var(--lh-vsm);
    font-weight: var(--fw-medium);
    font-family: var(--font-cnt);
}

.img-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.5s;
    transform: scale(1);
}

.c-white {
    color: var(--white);
}

.head-btn {
    color: var(--white) !important;
    padding: 4px 14px;
    border-radius: 5px;
    background-color: var(--success);
}

.bg-sec {
    background: var(--sliver);
}

.bg-sec2 {
    background: var(--tint5);
}

.c-wh {
    color: var(--white);
}

.cnt-btn1 {
    display: inline-block;
    text-align: center;
    color: var(--white);
    border-radius: 50px;
    padding: 10px 24px;
    font-size: var(--fs-vsm);
    line-height: var(--lh-vsm);
    font-weight: var(--fw-medium);
    background-color: var(--shade3);
}

.cnt-btn2 {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

.cnt-btn3 {
    background-color: var(--success);
}

.cnt-btn4 {
    background-color: var(--error);
}

.cnt-btn5 {
    background-color: var(--tint1);
}

.btn1 {
    padding: 14px 30px;
    background: #b11226;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}

.btn2 {
    padding: 14px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}